/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Libraries */
@import url(../vendor/corbzhamburger/hamburger.css);

@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

.hero {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.hero > picture > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: bottom;
}

.hero > picture::before {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 20, 35, 0.6),
        rgba(0, 20, 35, 0.5),
        rgba(0, 20, 35, 0.6)
    );
}

.hero > .content {
    max-width: 530px;
    padding: 0 var(--page-x-deadzone);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-align: center;
    z-index: 1;
}

.hero > .content > .title {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.2;
    font-weight: normal;
}

.hero > .content > .title > span {
    font-size: 1.35rem;
    font-weight: var(--font-weight1);
    text-transform: uppercase;
}

.hero > .content > .subtitle {
    color: var(--text-white-secondary);
    line-height: 1.4;
    font-size: 1.22rem;
    text-align: left;
}

.hero > .content > .trust {
    margin-top: -10px;
    text-align: left;
    color: var(--text-white-secondary);
    font-size: 0.8rem;
}

.hero .video {
    height: 250px;
    width: 140.645px;
    margin-top: 50px;
    display: none;
    border-radius: 10px;
}

.hero > .video-pill {
    position: absolute;
    bottom: var(--page-x-deadzone);
    left: var(--page-x-deadzone);
}

.hero > .trust {
    display: none;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: var(--page-x-deadzone);
    right: var(--page-x-deadzone);
    color: white;
}

.hero > .trust > .images {
    display: flex;
    align-items: center;
}

.hero > .trust > .images > .fake-photo {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;;
}

.hero > .trust > .images > .fake-photo:nth-child(n+2) {
    margin-left: -20px;
}

@media only screen and (min-width: 816px) {
    .hero > picture::before {
        background: linear-gradient(
            to bottom,
            rgba(0, 20, 35, 0.8),
            rgba(0, 20, 35, 0.5),
            rgba(0, 20, 35, 0.8)
        );
    }

    .hero > .content {
        top: unset;
        bottom: var(--page-x-deadzone);
        transform: none;
    }

    .hero > .content > .trust {
        display: none;
    }

    .hero .video {
        display: block;
    }

    .hero > .trust {
        display: flex;
    }

    .hero > .video-pill {
        display: none;
    }

    .hero > .content > .title, .hero > .content > .title > span {
        font-size: 2rem;
        font-weight: var(--font-weight1);
        text-transform: uppercase;
    }
}

/* Main Services */

.main-services {
    width: 100vw;
    margin-top: var(--page-y-spacing);
}

.main-services > .content {
    width: 100%;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.main-services > .content > .card {
    /* min-height: 300px; */
    width: clamp(300px, 100%, 450px);
    background-color: var(--primary-color);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 3px solid var(--border-color);
    border-radius: 10px;
}

.main-services > .content > .card > .top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-services > .content > .card > .top > .title {
    font-weight: var(--font-weight1);
}

.main-services > .content > .card > .top > .icon {
    height: 40px;
    width: 40px;
    background-color: rgb(165, 85, 42, 0.3);
    display: block;
    padding: 10px;
    border-radius: 50%;
}

.main-services > .content > .card > .top > .icon > svg {
    height: 20px;
    width: 20px;
    fill: rgb(165, 85, 42);
}

.main-services > .content > .card > .description {
    color: var(--secondary-text-color);
}

.main-services > .content > .card > a {
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(var(--accent-color));
    font-size: 0.9rem;
    text-decoration: none;
    border-bottom: 1px dashed rgb(var(--accent-color));
    cursor: pointer;
}

.main-services > .content > .card > a > svg {
    width: 15px;
    fill: rgb(var(--accent-color));
}

.main-services > .cta-button {
    margin: var(--section-y-spacing) auto 0 auto;
}

/* Testimonials section */

.testimonials {
    margin-top: var(--page-y-spacing);
}

.testimonials > .content {
    width: 100%;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--card-gap);
}

.testimonials > .content > .card {
    width: clamp(335px, 100%, 300px);
    background-color: white;
    background-image: url(../media/images/heroAI.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(109, 109, 109, 0.2);
    transition: background-color 0.2s ease;
}

.testimonials > .content > .card > svg {
    width: 35px;
    fill: rgb(var(--accent-color));
    transition: opacity 0.2s ease;
}

.testimonials > .content > .card > .quote {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
    transition: opacity 0.2s ease;
}

.testimonials > .content > .card > .name {
    margin-top: auto;
    padding-top: 10px;
    font-weight: var(--font-weight1);
    border-top: 2px solid var(--text-white-secondary);
    transition: color 0.2s ease;
}

.testimonials > .content > .card > .name::before {
    content: "Photo taken by";
    margin-bottom: 5px;
    display: block;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.testimonials > .content > .card:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.testimonials > .content > .card:hover svg {
    opacity: 0;
}

.testimonials > .content > .card:hover .quote {
    opacity: 0;
}

.testimonials > .content > .card:hover .name {
    color: white;
    border: 2px solid transparent;
}

.testimonials > .content > .card:hover .name::before {
    opacity: 1;
}

.testimonials > .rating {
    width: 100%;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

/* Services */

.tours {
    width: 100vw;
    margin-top: var(--page-y-spacing);
}

.tours > .content {
    width: 100%;
    margin-top: 25px;
    padding: 0 var(--page-x-deadzone) 10px var(--page-x-deadzone);
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    overflow-x: auto;
}

.tours > .content > .card {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(146, 146, 146, 0.2);
}

.tours > .content > .card > .top {
    width: 100%;
    position: relative;
}

.tours > .content > .card > .top > img {
    height: 192.46px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.tours > .content > .card > .top > .info {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0) 100%);
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--text-white);
    border-radius: 0 0 10px 10px;
}

.tours > .content > .card > .top > .info > .title {
    font-weight: var(--font-weight1);
}

/* Details section */

/* .tours > .content > .card > .details {
    padding: 0 12px 12px 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid var(--border-color);
}

.tours > .content > .card > .details > .detail {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
}

.tours > .content > .card > .details > .detail:nth-child(n+2) > strong {
    font-weight: var(--font-weight1);
}

.tours > .content > .card > .details > .detail > svg {
    height: 17px;
    fill: rgb(var(--accent-color));
} */

.tours > .content > .card > .description {
    padding: 0 12px;
    color: var(--secondary-text-color);
    font-size: 0.96rem;
}

.tours > .content > .card > .divider {
    padding: 0 12px;
}

.tours > .content > .card > .highlights {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tours > .content > .card > .highlights > .highlight {
    display: flex;
    gap: 8px;
    color: var(--secondary-text-color);
}

.tours > .content > .card > .highlights > .highlight > svg {
    height: 20px;
    fill: rgb(var(--accent-color));
}

.tours > .content > .card > .photos {
    /* padding: 0 12px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tours > .content > .card > .photos > .wrapper > img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.tours > .content > .card > .photos > .wrapper:nth-child(1) > img {
    border-radius: 10px 0 0 10px;
}

.tours > .content > .card > .photos > .wrapper:nth-child(3) > img {
    border-radius: 0 10px 10px 0;
}

.tours > .content > .card > .photos > .wrapper > .location {
    width: 100%;
    margin-top: 2.5px;
    text-align: center;
    font-size: 0.75rem;
    color: var(--secondary-text-color);
}

.tours > .content > .card > .important-info {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 8px;
    margin-top: 10px;
}

.tours > .content > .card > .important-info > .detail > svg {
    height: 20px;
    width: 20px;
    fill: rgb(var(--accent-color));
    flex-shrink: 0;
}

.tours > .content > .card > .important-info > .detail {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondary-text-color);
}

.tours > .content > .card > .important-info > .detail > p {
    font-size: 0.8;
}

.tours > .content > .card > .price {
    padding: 15px 12px 0 12px;
    color: var(--secondary-text-color);
    border-top: 1px solid var(--border-color);
}

.tours > .content > .card > .price > strong {
    color: var(--text-color);
    font-size: 1.7rem;
}

.tours > .content > .card > .cta-button {
    width: 100%;
    margin-top: auto;
    justify-content: center;
    font-size: 1.1rem;
}

/* .tours > .content > .card > .details > .detail:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */

/* Contact Us page */

.contact-us {
    width: 100%;
    margin-top: var(--page-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-wrap: wrap;
}

.contact-us > .content {
    max-width: 450px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(146, 146, 146, 0.2);
}

.contact-us > .content > header {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contact-us > .content > header > .subtitle {
    font-weight: var(--font-weight1);
    text-transform: uppercase;
}

.contact-us > .content > header > .title {
    margin-top: -8px;
}

.contact-us > .content > header > .description {
    color: var(--secondary-text-color);
    font-size: 0.95rem;
}

.contact-us > .content > .benefits {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.contact-us > .content > .benefits > .benefit {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: var(--font-weight1);
}

.contact-us > .content > .benefits > .benefit > svg {
    height: 35px;
    flex-shrink: 0;
    fill: rgb(var(--accent-color));
}

.contact-us > .content > .contact-info {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us > .content > .contact-info > .contact-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.contact-us > .content > .contact-info > .contact-item > strong {
    font-style: normal;
    font-weight: normal;
}

.contact-us > .content > .contact-info > .contact-item > a {
    /* text-decoration: none; */
    font-style: normal;
    color: var(--text-color);
}