/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Libraries */
@import url(../vendor/corbzhamburger/hamburger.css);

@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

.hero {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.hero > picture > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: bottom;
}

.hero > picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 20, 35, 0.6),
        rgba(0, 20, 35, 0.5),
        rgba(0, 20, 35, 0.6)
    );
}

.hero > .content {
    max-width: 530px;
    padding: 0 var(--page-x-deadzone);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-align: center;
    z-index: 1;
}

.hero > .content > .title {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.2;
    font-weight: normal;
}

.hero > .content > .title > span {
    font-size: 1.35rem;
    font-weight: var(--font-weight1);
    text-transform: uppercase;
}

.hero > .content > .subtitle {
    color: var(--text-white-secondary);
    line-height: 1.3;
    font-size: var(--secondary-font-size);
    text-align: left;
}

.hero > .content > .trust {
    margin-top: -10px;
    text-align: left;
    color: var(--text-white-secondary);
    font-size: 0.8rem;
}

.hero .video {
    height: 250px;
    width: 444.4444px;
    margin-top: 50px;
    display: none;
    border-radius: 10px;
}

.hero > .video-pill {
    position: absolute;
    bottom: var(--page-x-deadzone);
    left: var(--page-x-deadzone);
}

.hero > .trust {
    display: none;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: var(--page-x-deadzone);
    right: var(--page-x-deadzone);
    color: white;
}

.hero > .trust > .images {
    display: flex;
    align-items: center;
}

.hero > .trust > .images > .fake-photo {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;;
}

.hero > .trust > .images > .fake-photo:nth-child(n+2) {
    margin-left: -20px;
}

@media only screen and (min-width: 816px) {
    .hero > picture::before {
        background: linear-gradient(
            to bottom,
            rgba(0, 20, 35, 0.8),
            rgba(0, 20, 35, 0.5),
            rgba(0, 20, 35, 0.8)
        );
    }

    .hero > .content {
        top: unset;
        bottom: var(--page-x-deadzone);
        transform: none;
    }

    .hero > .content > .trust {
        display: none;
    }

    .hero .video {
        display: block;
    }

    .hero > .trust {
        display: flex;
    }

    .hero > .video-pill {
        display: none;
    }

    .hero > .content > .title, .hero > .content > .title > span {
        font-size: 2rem;
        font-weight: var(--font-weight1);
        text-transform: uppercase;
    }
}

/* Featured */

.featured {
    width: 100dvw;
    margin-top: var(--page-y-spacing);
}

.featured > .content {
    width: 100%;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--card-gap);
    flex-wrap: wrap;
}

.featured > .content > .card {
    height: 400px;
    width: clamp(300px, 22%, 350px);
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px 10px rgba(109, 109, 109, 0.4);
}

.featured > .content > .card > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 10px; */
}

.featured > .content > .card > .info-box {
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0) 100%);
    padding: 25px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    gap: 10px;
    color: var(--text-white );
    /* border-radius: 0 0 10px 10px; */
}

.featured > .content > .card > .info-box > .type-pill {
    width: fit-content;
    padding: 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(76, 76, 76, 0.9);
    border-radius: 10px;
}

.featured > .content > .card > .info-box > .type-pill > svg {
    height: 0.9rem;
}

/* Pill scenic flight */

.featured > .content > .card > .info-box > .type-pill.scenic-flight, .featured > .content > .card > .info-box > .type-pill.scenic-flight > svg {
    background-color: rgb(199, 228, 225);
    fill: rgb(var(--accent-color));
}

.featured > .content > .card > .info-box > .title {
    margin-bottom: 10px;
    /* font-weight: 600; */
    font-size: 0.9rem;
}

.featured > .content > .card > .info-box > .route {
    /* margin-top: -8px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2px;
}

.featured > .content > .card > .info-box > .route > .location {
    font-size: 0.8rem;
    font-weight: var(--font-weight1);
    color: var(--text-white-secondary);
}

.featured > .content > .card > .info-box > .route > svg {
    height: 1.1rem;
    fill: var(--secondary-text-color);
}

.featured > .content > .card > .info-box > .price {
    text-align: left;
    font-weight: var(--font-weight1);
}

.featured > .content > .card > .info-box > .price > span {
    font-size: 0.8rem;
    font-weight: initial;
}

.featured > .content > .card > .info-box > .cta-button {
    margin-top: auto;
}

.featured > .cta-button {
    margin: var(--section-y-spacing) auto 0 auto;
}

/* Testimonials section */

.testimonials {
    margin-top: var(--page-y-spacing);
}

.testimonials > .content {
    width: 100%;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--card-gap);
}

.testimonials > .content > .card {
    width: clamp(335px, 100%, 300px);
    background-color: white;
    background-image: url(../media/images/heroAI.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(109, 109, 109, 0.2);
    transition: background-color 0.2s ease;
}

.testimonials > .content > .card > svg {
    width: 35px;
    fill: rgb(var(--accent-color));
    transition: opacity 0.2s ease;
}

.testimonials > .content > .card > .quote {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
    transition: opacity 0.2s ease;
}

.testimonials > .content > .card > .name {
    margin-top: auto;
    padding-top: 10px;
    font-weight: var(--font-weight1);
    border-top: 2px solid var(--text-white-secondary);
    transition: color 0.2s ease;
}

.testimonials > .content > .card > .name::before {
    content: "Photo taken by";
    margin-bottom: 5px;
    display: block;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.testimonials > .content > .card:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.testimonials > .content > .card:hover svg {
    opacity: 0;
}

.testimonials > .content > .card:hover .quote {
    opacity: 0;
}

.testimonials > .content > .card:hover .name {
    color: white;
    border: 2px solid transparent;
}

.testimonials > .content > .card:hover .name::before {
    opacity: 1;
}

/* Services */

.tours {
    width: 100%;
    margin-top: var(--page-y-spacing);
}

.tours > .content {
    width: 100%;
    margin-top: 25px;
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.tours > .content > .card {
    max-width: 350px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 7px 7px 20px 7px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.tours > .content > .card > .top {
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
}

.tours > .content > .card > .top.featured-tour::after {
    content: attr(data-tag);
    padding: 5px 10px;
    position: absolute;
    background-color: rgb(158, 61, 74);
    top: 5px;
    right: 5px;
    display: block;
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

.tours > .content > .card > .top > .title {
    font-size: 25px;
}

.tours > .content > .card > .top > .subtitle {
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(var(--accent-color2));
    border-bottom: dotted 1px var(--accent-color);
}

.tours > .content > .card > .top > .price {
    padding: 10px 0 0 0;
}

.tours > .content > .card > .top > .price > strong {
    color: black;
    font-size: 28px;
}

.tours > .content > .card > .center {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 10px;
}

.tours > .content > .card > .center > .title {
    /* font-family: var(--accent-font); */
    font-size: 12px;
    color: grey;
    text-transform: uppercase;
}

.tours > .content > .card > .center > .duration {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.tours > .content > .card > .center > .duration > svg {
    height: 17px;
}

.tours > .content > .card > .center > .features-title {
    margin-top: 20px;
}

.tours > .content > .card > .center > .features {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.tours > .content > .card > .center > .features > .sub-features {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tours > .content > .card > .cta-button {
    width: calc(100% - 20px);
    margin: auto 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tours > .content > .card > .cta-button > svg {
    height: 20px;
    fill: white;
}

@media only screen and (min-width: 1160px) {
    .tours > .content > .card:nth-child(odd) {
        height: 524px;
    }
}