/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Libraries */
@import url(../vendor/corbzhamburger/hamburger.css);

@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

.hero {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.hero > picture > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: bottom;
}

.hero > picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 20, 35, 0.6),
        rgba(0, 20, 35, 0.5),
        rgba(0, 20, 35, 0.6)
    );
}

.hero > .content {
    max-width: 530px;
    padding: 0 var(--page-x-deadzone);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-align: center;
    z-index: 1;
}

.hero > .content > .title {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.2;
    font-weight: normal;
}

.hero > .content > .title > span {
    font-size: 1.35rem;
    font-weight: var(--font-weight1);
    text-transform: uppercase;
}

.hero > .content > .subtitle {
    color: var(--text-white-secondary);
    line-height: 1.3;
    font-size: var(--secondary-font-size);
    text-align: left;
}

.hero > .content > .trust {
    margin-top: -10px;
    text-align: left;
    color: var(--text-white-secondary);
    font-size: 0.8rem;
}

.hero .video {
    height: 250px;
    width: 444.4444px;
    margin-top: 50px;
    display: none;
    border-radius: 10px;
}

.hero > .video-pill {
    position: absolute;
    bottom: var(--page-x-deadzone);
    left: var(--page-x-deadzone);
}

.hero > .trust {
    display: none;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: var(--page-x-deadzone);
    right: var(--page-x-deadzone);
    color: white;
}

.hero > .trust > .images {
    display: flex;
    align-items: center;
}

.hero > .trust > .images > .fake-photo {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;;
}

.hero > .trust > .images > .fake-photo:nth-child(n+2) {
    margin-left: -20px;
}

@media only screen and (min-width: 770px) {
    .hero > picture::before {
        background: linear-gradient(
            to bottom,
            rgba(0, 20, 35, 0.8),
            rgba(0, 20, 35, 0.5),
            rgba(0, 20, 35, 0.8)
        );
    }

    .hero > .content {
        top: unset;
        bottom: var(--page-x-deadzone);
        transform: none;
    }

    .hero > .content > .trust {
        display: none;
    }

    .hero .video {
        display: block;
    }

    .hero > .trust {
        display: flex;
    }

    .hero > .video-pill {
        display: none;
    }

    .hero > .content > .title, .hero > .content > .title > span {
        font-size: 2rem;
        font-weight: var(--font-weight1);
        text-transform: uppercase;
    }
}

/* Featured */

.featured {
    width: 100dvw;
    margin-top: var(--page-y-spacing);
}

.featured > .content {
    width: 100%;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--card-gap);
    flex-wrap: wrap;
}

.featured > .content > .card {
    width: clamp(250px, 20%, 300px);
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(109, 109, 109, 0.2);
}

.featured > .content > .card > img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.featured > .content > .card > .info-box {
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
}

.featured > .content > .card > .info-box > .type-pill {
    width: fit-content;
    padding: 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(76, 76, 76, 0.9);
    border-radius: 10px;
}

.featured > .content > .card > .info-box > .type-pill > svg {
    height: 0.9rem;
}

/* Pill scenic flight */

.featured > .content > .card > .info-box > .type-pill.scenic-flight, .featured > .content > .card > .info-box > .type-pill.scenic-flight > svg {
    background-color: rgb(199, 228, 225);
    fill: rgb(var(--accent-color));
}

.featured > .content > .card > .info-box > .title {
    font-weight: 600;
}

.featured > .content > .card > .info-box > .route {
    /* margin-top: -8px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2px;
}

.featured > .content > .card > .info-box > .route > .location {
    font-size: 0.8rem;
    font-weight: var(--font-weight1);
    color: var(--secondary-text-color);
}

.featured > .content > .card > .info-box > .route > svg {
    height: 1.1rem;
    fill: var(--secondary-text-color);
}

.featured > .content > .card > .info-box > .price {
    text-align: left;
    font-weight: var(--font-weight1);
}

.featured > .content > .card > .info-box > .price > span {
    font-size: 0.8rem;
    font-weight: initial;
}

.featured > .content > .card > .info-box > .cta-button {
    margin-top: 10px;
}

/* Testimonials section */

.testimonials {
    margin-top: var(--page-y-spacing);
}

.testimonials > .content {
    width: 100%;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--card-gap);
}

.testimonials > .content > .card {
    width: clamp(335px, 100%, 300px);
    background-color: white;
    background-image: url(../media/images/heroAI.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(109, 109, 109, 0.2);
    transition: background-color 0.2s ease;
}

.testimonials > .content > .card > svg {
    width: 35px;
    fill: rgb(var(--accent-color));
    transition: opacity 0.2s ease;
}

.testimonials > .content > .card > .quote {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
    transition: opacity 0.2s ease;
}

.testimonials > .content > .card > .name {
    margin-top: auto;
    padding-top: 20px;
    font-weight: var(--font-weight1);
    border-top: 2px solid var(--text-white-secondary);
    transition: color 0.2s ease;
}

.testimonials > .content > .card:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.testimonials > .content > .card:hover svg {
    opacity: 0;
}

.testimonials > .content > .card:hover .quote {
    opacity: 0;
}

.testimonials > .content > .card:hover .name {
    color: white;
    border: none;
}