/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Libraries */
@import url(../vendor/corbzhamburger/hamburger.css);

@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

.hero {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.hero > picture > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: bottom;
}

.hero > picture::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 20, 35, 0.6),
        rgba(0, 20, 35, 0.5),
        rgba(0, 20, 35, 0.6)
    );
}

.hero > .content {
    max-width: 500px;
    padding: 0 var(--page-x-deadzone);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-align: center;
    z-index: 1;
}

.hero > .content > .title {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.2;
    font-weight: normal;
}

.hero > .content > .title > span {
    font-size: 1.35rem;
    font-weight: 500;
    text-transform: uppercase;
}

.hero > .content > .subtitle {
    color: var(--text-white-secondary);
    line-height: 1.3;
    font-size: var(--secondary-font-size);
    text-align: left;
}

.hero > .content > .trust {
    margin-top: -10px;
    text-align: left;
    color: var(--text-white-secondary);
    font-size: 0.8rem;
}

.hero > .video-pill {
    position: absolute;
    bottom: var(--page-x-deadzone);
    left: var(--page-x-deadzone);
}

@media only screen and (min-width: 770px) {
    .hero > .content > .title, .hero > .content > .title > span {
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
    }
    /* .hero > .content > .title {
        font-size: 2rem;
    } */

    .hero > picture::before {
        background: linear-gradient(
        to bottom,
        rgba(0, 20, 35, 0.8),
        rgba(0, 20, 35, 0.5),
        rgba(0, 20, 35, 0.8)
    );
    }
}